<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="LocalServer" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=kemchik06;Database=postgres;" providerName="Npgsql" />
    <add name="Server1" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=kemchik06;Database=postgres;" providerName="Npgsql" />
    <add name="Server2" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=kemchik06;Database=postgres;" providerName="Npgsql" />
    <add name="Server3" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=kemchik06;Database=postgres;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="LocalServer" value="8" />
    <add key="Server1" value="5" />
    <add key="Server2" value="10" />
    <add key="Server3" value="12" />
    <add key="credentials" value="{   &quot;installed&quot;: {     &quot;client_id&quot;: &quot;609773422156-fsb9ujjq5gdccto7l4bikaho8jmmqkh1.apps.googleusercontent.com&quot;,     &quot;project_id&quot;: &quot;quickstart-1562591212073&quot;,     &quot;auth_uri&quot;: &quot;https://accounts.google.com/o/oauth2/auth&quot;,     &quot;token_uri&quot;: &quot;https://oauth2.googleapis.com/token&quot;,     &quot;auth_provider_x509_cert_url&quot;: &quot;https://www.googleapis.com/oauth2/v1/certs&quot;,     &quot;client_secret&quot;: &quot;ZX0_W_iQ6B_8KjbPGMM5230A&quot;,     &quot;redirect_uris&quot;: [ &quot;urn:ietf:wg:oauth:2.0:oob&quot;, &quot;http://localhost&quot; ]   } }" />
    <add key="SheetId" value="1qAOCeLgeODtAEu19oVKkyfmRxsfTdhjJs_tdKwgiiIs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>